$pink: #fad9c5;
$yellow: #faf8a7;
$green: #9afabf;
$blue: #95edfa;
$purple: #e2e1fd;
$silver: #acacac;

// Rainbows
.rainbows {

}

.pink {
  color: $pink;
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.purple {
  color: $purple;
}
