//
// font-family: 'Quicksand', sans-serif;
//
// font-family: 'Bangers', cursive;
//
// font-family: 'Orbitron', sans-serif;
//
// font-family: 'Audiowide', cursive;

@import 'viewport';
@import 'helpers';


@media print {
  .heart.nav {
    display: none;
  }
}

body {
  font-family: 'Orbitron', Helvetica, Arial, sans-serif;

  main {

    &.nav-open {
      .content {
        filter: blur(5px);
      }

      .intro,
      .me,
      .candy-heart, {
        opacity: 0;
      }
      nav {
        opacity: 0.8;
        z-index: 1;
      }
    }
  }
}

img {
  transition: all 0.3s ease;
}

// NAVIGATION
nav {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;

  ul {
    @include center;
    margin: 0;
    padding: 0;
    text-align: center;
    .close {
      font-size: 20px;
      padding: 10px;
    }
    a {
      display: block;
      color: lavender;
      text-decoration: none;
      padding: 15px 0;
    }
  }
}

.heart {
  display: block;
  cursor: pointer;

  .candy-heart {
    cursor: pointer;
    position: relative;
    padding: 0px;
    display: block;
    margin: 0 auto;
    width: 30px;
    z-index: 10;
  }
}
