//
// font-family: 'Quicksand', sans-serif;
//
// font-family: 'Bangers', cursive;
//
// font-family: 'Orbitron', sans-serif;
//
// font-family: 'Audiowide', cursive;

@import 'viewport';
@import 'helpers';

body {
  font-family: 'Orbitron', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  main {
    position: absolute;
    width: 100%;
    height: 100%;

    &.nav-open {
      .intro {
        opacity: 0;
      }
      nav {
        opacity: 0.8;
        z-index: 1;
      }
    }
  }
}

// INTRO
.intro {
  @include center;
  opacity: 1;
  transition: all 1s ease;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin: 20px 0;

  @include bp(small) {
    font-size: 20px;
  }

  span {
    display: block;
    padding: 0 0 15px 0;

    @include bp(small) {
      padding: 0 0 10px 0;
    }
  }
}

.hello {
  position: relative;
  padding: 10px 0 20px;
  width: 200px;

  @include bp(small) {
    width: 150px;
    padding: 5px 0 10px;
  }
}

// NAVIGATION
nav {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;

  ul {
    @include center;
    margin: 0;
    padding: 0;
    text-align: center;
    .close {
      font-size: 20px;
      padding: 20px;
    }
    a {
      display: block;
      color: lavender;
      text-decoration: none;
      padding: 20px 0;
    }
  }
}

// IMAGES
img {
  position: absolute;
}

.banana {
  top: 3%;
  left: 3%;
  width: 80px;
}

.doggy {
  top: 30%;
  left: 15%;
  width: 150px;

  @include bp(medium) {
    left: 5%;
  }

  @include bp(small) {
    display: none;
  }
}

.kitty {
  top: 30%;
  right: 13%;
  width: 150px;

  @include bp(medium) {
    right: 5%;
  }

  @include bp(small) {
    display: none;
  }
}

.jake {
  bottom: 10px;
  right: 75px;
  width: 150px;

  @include bp(small) {
    bottom: 3%;
    right: -10px;
  }
}

.candy-heart {
  position: relative;
  left: 50%;
  margin-left: -40px;
  width: 80px;

  @include bp(small) {
    bottom: 3%;
  }
}

.rainbow-vomit {
  top: 20px;
  right: 40px;
  width: 100px;

  @include bp(small) {
    top: 3%;
    right: 3%;
  }
}

.rex {
  bottom: 30px;
  left: 0px;
  width: 150px;

  @include bp(small) {
    bottom: 10px;
    left: -50px;
  }
}

canvas {
  display: block;
}
