extends ./layout.jade

block pageTitle
  - var title = "About";

block css
  link(rel='stylesheet', href='css/about.css')

block pageClass
  - var pageClass = 'about';

block content
  div.content
    div.me
    div.description
      h1 me
      p 
        span.pink I'm currently a Front-End Engineer at Nginx, 
        span.yellow helping to code and architect digital product experiences. 
        span.green Programming has always been something I've taught 
        span.blue myself and I'm constantly learning in the 
        span.purple ever evolving internet landscape. 
      p Hack the planet! 
      p ¯\_(ツ)_/¯
