extends ./layout.jade

block pageTitle
  - var title = "<3";

block css
  link(rel='stylesheet', href='css/home.css')

block pageClass
  - var pageClass = 'home';
  
block content
  div.content
    div.intro
      h1 
        span Hello,   
        img.hello(src="images/kermit.gif", alt="")
        span you've reached 
        span Liza Detrick 
      a.heart-home
        img.candy-heart(src="images/8bitheart-menu.png")
    img.rainbow-vomit(src="images/rainbow-vomit.gif")
    img.rex(src="images/trex-walk.gif")
    img.banana(src="images/big-dancing-banana-smiley-emoticon.gif")
    img.doggy(src="images/doggy.gif")
    img.kitty(src="images/kitty.gif")
    img.jake(src="images/jake.gif")
  
block scripts
  script(src='js/main.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.js')
  script(src='js/fresnel-shader.js')
  script(src='js/bubbles.js')
