doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block pageTitle
    title Liza Detrick - #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='images/favicon-heart.ico')
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,700|Bangers|Orbitron:400,700|Audiowide', rel='stylesheet', type='text/css')
    block css
  body
    block pageClass
    main(class="#{pageClass}")
      nav
        ul
          li
            a.close(href="#") x
          li
            a(href="/") Home
          li
            a(href="about.html") About
          li
            a(href='resume.html') Resume
          li
            a(href='work.html') Work
          li
            a(href='https://www.linkedin.com/in/liza-detrick-733a1926', target='_blank') LinkedIn
          li
            a(href='https://github.com/L2D22', target='_blank') Github
      a.heart.nav
        img.candy-heart(src="images/8bitheart.png")
      block content
    block scripts
      script(src='js/main.js')
