extends ./layout.jade

block pageTitle
  - var title = "Resume";

block css
  link(rel='stylesheet', href='css/resume.css')

block pageClass
  - var pageClass = 'resume';
  
block content
  div.content
    section.about
      h1.name.pink
        | Liza 
        span Detrick
      p.title.first.yellow Front-End Engineer
      p.email.green detrick.liza[at]gmail.com
      p.city.purple San Francisco, CA
    section.objective
      h2.yellow Objective
      p.description.pink.blue To create high quality digital products, by implementing CSS3/HTML5/Javascript for web based applications across devices and environments.
    section.jobs
      h2.yellow Experience
      p.title.green Senior Software Engineer
        p.company.blue vArmour
        p.dates.purple March 2019 - Present, Mountain View
        p.description.pink Coding vizualizations and policies for a cyber-security start-up!
      p.title.green Senior UI Engineer
        p.company.blue LendingClub
        p.dates.purple June 2018 – March 2019, San Francisco
        p.description.pink Developed A/B tests with Optimizely and Heap analytics for product KPIs. Implemented Cypress for QA automation. Managed new hires and an off-shore team in Columbia.
      .section
        p.title.green Front-end Engineer
        p.company.blue NGINX
        p.dates.purple March 2017 – June 2018, San Francisco
        p.description.pink Coded web applications and tools for enterprise NGINX accounts. Primarily worked on the Controller project, a centralized monitoring and management platform for NGINX Plus. A single interface to manage multiple NGINX Plus instances.
      .section
        p.title.green Front-end Engineer
        p.company.blue Apple Inc.
        p.dates.purple November 2015 – March 2017
        p.description.pink Developed digital product launch experiences for Apple.com including: Apple Music, iPad-Pro, and WWDC. Joined the internal frameworks team and contributed to global library maintenance.
      .section
        p.title.green Front-end Engineer
        p.company.blue HUGE
        p.dates.purple June 2011 – November 2015, Los Angeles
        p.description.pink
          | Client-side Front-end Engineer in an extremely fast-paced and ever evolving digital environment, producing flexible, compliant web based applications. Working in an agile team environment to meet critical deadlines and deliver successful large scale projects for Fortune 100 and 500 companies.
      .education
        h2.yellow Education
        .section
          p.title.green Occidental College
          p.company.blue Bachelor of Arts: Economics
          p.dates.purple 2005 – 2009
      .skills
        h2.yellow Skills
        ul.purple
          li HTML5
          li JavaScript / Node 
          li CSS / SASS
          li AJAX / Web Workers
          li React / Relay / GraphQL
          li Handelbars / Jade / JSX
          li Jest / Jasmine
          li WebGL / ThreeJS
          li PhoneGap / Electron
          li PhotoShop / Sketch
      .extras
        h2.yellow Extra
        ul.green
          li Occidental Blyth Fund Member, invested 92k in stocks
          li Traveled all 7 continents 
