extends ./layout.jade

block pageTitle
  - var title = "Resume";

block css
  link(rel='stylesheet', href='css/resume.css')

block pageClass
  - var pageClass = 'resume';
  
block content
  section.about
    h1.name.pink
      | Liza 
      span Detrick
    p.title.first.yellow Front-End Engineer
    p.email.green detrick.liza[at]gmail.com
    p.city.purple San Francisco, CA
  section.objective
    h2.yellow Objective
    p.description.pink.blue To create high quality digital products, by implementing CSS3/HTML5/Javascript for web based applications across devices and environments.
  section.jobs
    h2.yellow Experience
    .section
      p.title.green Front-end Engineer
      p.company.blue Apple Inc.
      p.dates.purple November 2015 – Present, San Francisco
      p.description.pink Front-end Engineer helping to code and architect digital product launch experiences for 
        a.pink(target="_blank",href="http://www.apple.com/") Apple.com.
    .section
      p.title.green Front-end Engineer
      p.company.blue HUGE
      p.dates.purple June 2011 – November 2015, Los Angeles
      p.description.pink
        | Client-side Front-end Engineer in an extremely fast-paced and ever evolving digital environment, producing flexible, compliant web based applications. Working in an agile team environment to meet critical deadlines and deliver successful large scale projects for Fortune 100 and 500 companies.
    .section
      p.title.green Web Developer
      p.company.blue Drawing From Memory
      p.dates.purple June 2010 – June 2011, Los Angeles
      p.description.pink
        | Provided technical leadership and development for all new web initiatives. Engaged clients in the development process and delivered usable updateable content. Implemented solid architectures integrating Business Catalyst, x-cart frameworks with HTML5, CSS3, and jQuery.
    .section
      p.title.green Jr. Web Developer
      p.company.blue Infusion Studios
      p.dates.purple August 2009 – July 2010, Los Angeles
      p.description.pink
        | Extensive front-end web development, technology exploration, and wireframing. Worked closely with clients and designers to create interactive multimedia solutions. Gained a wealth of knowledge in regards to modular JavaScript, HTML best practices and writing optimizable, scalable code.
    .section
      p.title.green Intern
      p.company.blue SocialEngine
      p.dates.purple August 2009 – October 2009, Los Angeles
      p.description.pink
        | Observed tech entrepreneurship and social media at an innovative LA startup. Trouble-shooted client issues through an online ticketing and e-mail system. Created tutorials and demos for the online client knowledge base.
    .section
      p.title.green Technical Assistant
      p.company.blue Occidental College
      p.dates.purple January 2007 – May 2009, Los Angeles
      p.description.pink
        | Answered student and staff technical questions at the IT Help Desk. Provided web training for faculty, students, and administrators through workshops and presentations. Coded HTML/CSS websites and integrated them into an Ingeniux CMS.
    .education
      h2.yellow Education
      .section
        p.title.green Occidental College
        p.company.blue Bachelor of Arts: Economics
        p.dates.purple 2005 – 2009
    .skills
      h2.yellow Skills
      ul.purple
        li HTML5
        li JavaScript / Node / CommonJS
        li CSS / SASS
        li AJAX / Web Workers
        li Backbone / Angular / React
        li Handelbars / Jade
        li WebGL / ThreeJS
        li PhoneGap / Electron
        li PhotoShop / Illustrator / Sketch
    .extras
      h2.yellow Extra
      ul.green
        li Occidental Blyth Fund Member, invested 92k in stocks
        li Traveled all 7 continents 
